<div class="sub-header-section">
    <ul>
        <li class="nav-item mx-3">
            <a class="nav-link" aria-current="page" routerLink="/company-profile" routerLinkActive="active">Company profile</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link" aria-current="page" routerLink="/careers" routerLinkActive="active">Carrers</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link" aria-current="page" routerLink="/group-company" routerLinkActive="active">Group Company</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link" aria-current="page" routerLink="/business-inquiry" routerLinkActive="active">Business Inquiry</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link" aria-current="page" routerLink="/future-plan" routerLinkActive="active">Future Plan</a>
        </li>
    </ul>
</div>