<div class="sub-header">
  <div class="container">
    <ul class="sub-header-nav">
      <li>
        <a class="sub-nav-link" routerLink="/company-profile" routerLinkActive="active">Company Profile</a>
      </li>
      <li>
        <a class="sub-nav-link" routerLink="/careers" routerLinkActive="active">Careers</a>
      </li>
      <li>
        <a class="sub-nav-link" routerLink="/group-company" routerLinkActive="active">Group Company</a>
      </li>
      <li>
        <a class="sub-nav-link" routerLink="/business-inquiry" routerLinkActive="active">Business Inquiry</a>
      </li>
      <li>
        <a class="sub-nav-link" routerLink="/future-plan" routerLinkActive="active">Future Plan</a>
      </li>
    </ul>
  </div>
</div>
