<div class="footer-area">
    <div class="row container mx-auto">
        <div class="col-lg-3 footer-col">
            <div><img src="../../assets/logo.jpg" alt="footer-icon"></div>
            <div class="footer-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et quia sint earum
                dolorem quis perferendis,
                excepturi provident! Quaerat, aspernatur debitis. Iusto ex dicta dignissimos quam earum animi velit
                similique voluptas?</div>
        </div>
        <div class="col-lg-3 footer-col">
            <div class="text-center">
                <h2>LATEST NEWS</h2>
            </div>
            <ul>
                <li>5 Things That Take a Room from Good to Great</li>
                <li>Functional and Stylish Wall-to-Wall Shelves</li>
                <li>9 Unique and Unusual Ways to Display Your TV</li>
                <li>The 5 Secrets to Pulling Off Simple, Minimal Design</li>
                <li>How to Make a Huge Impact With Multiples</li>
            </ul>
        </div>
        <div class="col-lg-3 footer-col px-0">
            <div class="text-center">
                <h2>CONTACT US</h2>
            </div>
            <ul>
                <li>Behind Filter Plant, Opp. Atul Auto, Ltd.,
                    Veraval (Shapar), Dist: - Rajkot 360 024.,
                    Gujarat INDIA.</li>
                <li><span class="contact-text">Phone: </span>(02827) 254496</li>
                <li><span class="contact-text">Fax: </span>(02827) 254497</li>
                <li><span class="contact-text">Email 1: </span>nikootechnocast&#64;yahoo.co.in</li>
                <li><span class="contact-text">Email 2: </span>marketing&#64;nikootechnocast.com</li>
                <li><span class="contact-text">Website: </span>www.nikootechnocast.com</li>
            </ul>
        </div>
        <div class="col-lg-3 footer-col">
            <div class="text-center">
                <h2>OTHER SERVICES</h2>
            </div>
            <ul>
                <li>Company Profile</li>
                <li>Product</li>
                <li>Process</li>
                <li>Careers</li>
                <li>Future Plan</li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-around align-items-center copyright-section">
        <span class="copyright-text">© Copyright 2023 - Nikootechnocast PVT LTD</span>
        <div class="social-icons">
            <span (click)="facebook()"><i class="fa-brands fa-facebook"></i></span>
            <span (click)="twitter()"><i class="fa-brands fa-twitter"></i></span>
        </div>
    </div>
</div>