<div class="contact-page">
    <app-header></app-header>
    <div class="d-flex justify-content-center process-header">
        <div class="text-center mt-5 header-text">
            <h1 class="heading-title-text">CONTACT US</h1>
            <div class="d-flex align-items-center">
                <span class="header-line"></span>
                <span class="dot-icon">&#x2022;</span>
                <span class="header-line"></span>
            </div>
        </div>
    </div>
    <div class="container p-5">
        <div class="row w-100 contact-section">
            <div class="col-lg-6">
                <!-- <div>
                    <h1>Contact US</h1>
                </div> -->
                <div class="contact-row">
                    <h2>CONTACT PERSON :</h2>
                    <div>
                        <p class="mb-1">Mr.Praful Dalsania (Partner)</p>
                        <p class="mb-1">Mr.Aman Dalsania (Partner)</p>
                        <p class="mb-1">( Cell : 091 - 7405987299 )</p>
                    </div>
                </div>
                <div class="contact-row">
                    <h2>MAIL :</h2>
                    <div>
                        <p class="mb-1">marketing@nikootechnocast.com</p>
                        <p class="mb-1">nikootechnocast@yahoo.co.in</p>
                    </div>
                </div>
                <div class="contact-row">
                    <h2>NEAREST SHIPMENT PORTS</h2>
                    <div>
                        <p class="mb-1">Mundra - 280 Km</p>
                        <p class="mb-1">Kandala - 310 Km</p>
                        <p class="mb-1">Mumbai - 750 Km</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-row">
                    <h2>ADDRESS :</h2>
                    <div>
                        <p class="mb-1">Behind Filter Plant, Opp. Atul Auto, Ltd.,
                            Veraval (Shapar), Dist: - Rajkot 360 024.,
                            Gujarat INDIA.</p>
                    </div>
                </div>
                <div class="contact-row">
                    <h2>PHONE :</h2>
                    <div>
                        <p class="mb-1">(02827) 254496</p>
                    </div>
                </div>
                <div class="contact-row">
                    <h2>FAX :</h2>
                    <div>
                        <p class="mb-1">(02827) 254497</p>
                    </div>
                </div>
                <div class="contact-row">
                    <h2>NEAREST AIRPORT</h2>
                    <div>
                        <h4>Domestinc :</h4>
                        <p class="mb-1">Rajkot Airport - 10 Km from our factory.
                            Two flight a day from mumbai.
                        </p>
                        <h4>International :</h4>
                        <p class="mb-1">Mumbai Airport 1 hour by air from Rajkot.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>