.contact-page {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/bg-images/conact-us.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-section {
    background-color: #565656;
    margin: 50px 0;
    padding: 40px;
    border-radius: 8px;
    width: 1700px !important;
    opacity: 0.8;
}

.heading-title-text {
    color: orange;
}

.header-line {
    width: 250px;
    border-bottom: 0.2px solid gray;
    transition: 0.5s;
}

.dot-icon {
    font-size: 20px;
    margin: 0 20px;
    color: orange;
}

.header-text {
    cursor: pointer;
    transition: 0.5s;
}

h1 {
    transition: 0.5s;
}

.header-text:hover h1 {
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.header-text:hover .header-line {
    width: 270px;
}

.header-text:hover .dot-icon {
    color: black;
}

.contact-row {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, #232b2b 0px 2px 16px 0px;
    border-radius: 8px;
    background-color: lightgray;
    padding: 20px;
    margin: 30px;
}
.contact-row h2{
    border: 1px solid gray;
    padding: 10px;
    background-color: #232b2b;
    color: whitesmoke;
    border-radius: 7px;
    margin-bottom: 25px;
}

.contact-detail-text {
    margin: 0px 20px 10px 20px;
    border-bottom: 1px solid gray;
    padding: 10px;
}

@media (max-width: 475px) {
    .contact-page {
        overflow-x: hidden;
    }
}