<div class="process-page">
    <div class="d-flex justify-content-center">
        <div class="text-center my-5 header-text">
            <h1 class="heading-title-text">PROCESS</h1>
            <div class="d-flex align-items-center">
                <span class="header-line"></span>
                <span class="dot-icon">&#x2022;</span>
                <span class="header-line"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mb-5 process-intro-text">
            <h3>The following images show the casting process. <span><b class="yellow-color">Nikoo Technocast</b></span> puts every possible effort to make
                the procedure more efficient. The advancement in the knowledge regarding the casting segment is used to
                help
                proceedings at <span><b class="yellow-color">Nikoo Technocast</b></span></h3>
            <h3 class="mt-5">The process includes: core making, melting, moulding (Green Sand, Silicate Co2 Bonded),
                knock-out,
                fettling, machining and quality assurance.</h3>
        </div>
    </div>
    <div class="container py-4">
        <div class="details-section">
            <div class="company-img">
                <img src="../../assets/process/process-1.jpg" alt="">
            </div>
            <h1>Process <span>1</span></h1>
        </div>
        <div class="chevron-icon text-center"></div>
        <div class="details-section">
            <div class="company-img">
                <img src="../../assets/process/process-2.jpg" alt="">
            </div>
            <h1>Process <span>2</span></h1>
        </div>
        <div class="chevron-icon text-center"></div>
        <div class="details-section">
            <div class="company-img">
                <img src="../../assets/process/process-3.jpg" alt="">
            </div>
            <h1>Process <span>3</span></h1>
        </div>
        <div class="chevron-icon text-center"></div>
        <div class="details-section">
            <div class="company-img">
                <img src="../../assets/process/process-4.jpg" alt="">
            </div>
            <h1>Process <span>4</span></h1>
        </div>
    </div>
</div>
<app-footer></app-footer>