<div class="usage-inds-page">
    <div class="d-flex justify-content-center">
        <div class="text-center my-5 header-text">
            <h1 class="heading-title-text">USAGE IN INDUSTRIES</h1>
            <div class="d-flex align-items-center">
                <span class="header-line"></span>
                <span class="dot-icon">&#x2022;</span>
                <span class="header-line"></span>
            </div>
        </div>
    </div>
    <div class="container product-list-section">
        <hr>
        <div class="details-section right-border">
            <div class="chevron-icon"></div>
            <div class="product-img">
                <img src="../../assets/product-list/product-1.jpg" alt="break-system-image">
            </div>
            <p>
                Automotive Industries.
            </p>
        </div>
        <hr>
        <div class="details-section left-border">
            <div class="chevron-icon"></div>
            <p>
                Oil & Gas Sector.
            </p>
            <div class="product-img">
                <img src="../../assets/product-list/product-2.jpg" alt="break-system-image">
            </div>
        </div>
        <hr>
        <div class="details-section right-border">
            <div class="chevron-icon"></div>
            <div class="product-img">
                <img src="../../assets/product-list/product-3.jpg" alt="">
            </div>
            <p>
                Farm Equipment.
            </p>
        </div>
        <hr>
        <div class="details-section left-border">
            <div class="chevron-icon"></div>
            <p>
                Earth Mover.
            </p>
            <div class="product-img">
                <img src="../../assets/product-list/product-4.jpg" alt="">
            </div>
        </div>
        <hr>
        <div class="details-section right-border">
            <div class="chevron-icon"></div>
            <div class="product-img">
                <img src="../../assets/product-list/product-5.avif" alt="">
            </div>
            <p>
                Material Handling.
            </p>
        </div>
        <hr>
        <div class="details-section left-border">
            <div class="chevron-icon"></div>
            <p>
                International Railway.
            </p>
            <div class="product-img">
                <img src="../../assets/product-list/product-6.webp" alt="">
            </div>
        </div>
        <hr>
        <div class="details-section right-border">
            <div class="chevron-icon"></div>
            <div class="product-img">
                <img src="../../assets/product-list/product-7.jpg" alt="">
            </div>
            <p>
                General Engineering Sectors.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>