<div class="product-page">
    <div class="d-flex justify-content-center">
        <div class="text-center my-5 header-text">
            <h1 class="heading-title-text">OUR PRODUCTS</h1>
            <div class="d-flex align-items-center">
                <span class="header-line"></span>
                <span class="dot-icon">&#x2022;</span>
                <span class="header-line"></span>
            </div>
        </div>
    </div>
    <div class="container product-list-section">
        <div class="mb-5 product-intro-text">
            <h3>We are specialized in the manufacturing of Gray (C.I) & Ductile (S.G) iron castings. Following is the
                product range of <span><b class="yellow-color">Nikoo Technocast :</b></span></h3>
        </div>
        <hr>
        <div class="details-section right-border">
            <div class="chevron-icon"></div>
            <div class="product-img">
                <img src="../../assets/product-list/product-1.jpg" alt="break-system-image">
            </div>
            <p>
                Heavy Vehicle Brake Systems Components.
            </p>
        </div>
        <hr>
        <div class="details-section left-border">
            <div class="chevron-icon"></div>
            <p>
                Passenger Car Components.
            </p>
            <div class="product-img">
                <img src="../../assets/product-list/product-2.jpg" alt="break-system-image">
            </div>
        </div>
        <hr>
        <div class="details-section right-border">
            <div class="chevron-icon"></div>
            <div class="product-img">
                <img src="../../assets/product-list/product-3.jpg" alt="">
            </div>
            <p>
                Compressors Components.
            </p>
        </div>
        <hr>
        <div class="details-section left-border">
            <div class="chevron-icon"></div>
            <p>
                Earth Movers & Heavy Vehicles.
            </p>
            <div class="product-img">
                <img src="../../assets/product-list/product-4.jpg" alt="">
            </div>
        </div>
        <hr>
        <div class="details-section right-border">
            <div class="chevron-icon"></div>
            <div class="product-img">
                <img src="../../assets/product-list/product-5.avif" alt="">
            </div>
            <p>
                Valve & Valve Components.
            </p>
        </div>
        <hr>
        <div class="details-section left-border">
            <div class="chevron-icon"></div>
            <p>
                Automobile Parts.
            </p>
            <div class="product-img">
                <img src="../../assets/product-list/product-6.webp" alt="">
            </div>
        </div>
        <hr>
        <div class="details-section right-border">
            <div class="chevron-icon"></div>
            <div class="product-img">
                <img src="../../assets/product-list/product-7.jpg" alt="">
            </div>
            <p>
                Machine Tools Components.
            </p>
        </div>
        <hr>
        <div class="details-section left-border">
            <div class="chevron-icon"></div>
            <p>
                Oil & Gas Components.
            </p>
            <div class="product-img">
                <img src="../../assets/product-list/product-8.jpg" alt="">
            </div>
        </div>
        <hr>
        <div class="details-section right-border">
            <div class="chevron-icon"></div>
            <div class="product-img">
                <img src="../../assets/product-list/product-9.jpg" alt="">
            </div>
            <p>
                Transmission Components.
            </p>
        </div>
        <hr>
    </div>
    <div class="container company-products text-center">
        <div class="p-3 mb-5 product-card rounded" data-bs-toggle="modal" data-bs-target="#product1">
            <img src="../../assets/products/product-1.jpg" class="product-image" alt="product-1">
        </div>
        <div class="p-3 mb-5 product-card rounded" data-bs-toggle="modal" data-bs-target="#product2">
            <img src="../../assets/products/product-2.jpg" class="product-image" alt="product-2">
        </div>
        <div class="p-3 mb-5 product-card rounded" data-bs-toggle="modal" data-bs-target="#product3">
            <img src="../../assets/products/product-3.jpg" class="product-image" alt="product-3">
        </div>
        <div class="p-3 mb-5 product-card rounded" data-bs-toggle="modal" data-bs-target="#product4">
            <img src="../../assets/products/product-4.jpg" class="product-image" alt="product-4">
        </div>
        <div class="p-3 mb-5 product-card rounded" data-bs-toggle="modal" data-bs-target="#product5">
            <img src="../../assets/products/product-5.jpg" class="product-image" alt="product-5">
        </div>
    </div>
</div>

<!-- product 1 dialog -->
<div class="modal" id="product1" tabindex="-1" aria-labelledby="product1" aria-hidden="true"
    style="padding-right: 0px;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product1">Details</h5>
            </div>
            <div class="modal-body row">
                <div class="col-6">
                    <img class="selected-image" src="../../assets/products/product-1.jpg">
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-1.1.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-1.2.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-1.3.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-1.4.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-1.5.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- product 2 dialog -->
<div class="modal" id="product2" tabindex="-1" aria-labelledby="product2" aria-hidden="true"
    style="padding-right: 0px;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product2">Details</h5>
            </div>
            <div class="modal-body row">
                <div class="col-6">
                    <img class="selected-image" src="../../assets/products/product-2.jpg">
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-2.1.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-2.2.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-2.3.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-2.4.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-2.5.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-2.6.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product 3 dialog -->
<div class="modal" id="product3" tabindex="-1" aria-labelledby="product3" aria-hidden="true"
    style="padding-right: 0px;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product3">Details</h5>
            </div>
            <div class="modal-body row">
                <div class="col-6">
                    <img class="selected-image" src="../../assets/products/product-3.jpg">
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-3.1.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-3.2.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-3.3.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-3.4.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-3.5.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-3.6.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-3.7.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-3.8.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-3.9.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product 4 dialog -->
<div class="modal" id="product4" tabindex="-1" aria-labelledby="product4" aria-hidden="true"
    style="padding-right: 0px;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product4">Details</h5>
            </div>
            <div class="modal-body row">
                <div class="col-6">
                    <img class="selected-image" src="../../assets/products/product-4.jpg">
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-4.1.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-4.2.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-4.3.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-4.4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product 5 dialog -->
<div class="modal" id="product5" tabindex="-1" aria-labelledby="product5" aria-hidden="true"
    style="padding-right: 0px;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product5">Details</h5>
            </div>
            <div class="modal-body row">
                <div class="col-6">
                    <img class="selected-image" src="../../assets/products/product-5.jpg">
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-5.1.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-5.2.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-5.3.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-5.4.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-5.5.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-5.6.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-5.7.jpg">
                        </div>
                        <div class="col-4 mt-3 details-image">
                            <img class="product-image" src="../../assets/products/product-5.8.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>