.product-page {
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
    background-image: url('../../assets/bg-images/product-page-transformed.jpeg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-title-text {
    color: orange;
}

.header-line {
    width: 250px;
    border-bottom: 0.2px solid gray;
    transition: 0.5s;
}

.dot-icon {
    font-size: 20px;
    margin: 0 20px;
    color: orange;
}

.header-text {
    cursor: pointer;
    transition: 0.5s;
}

h1 {
    transition: 0.5s;
}

.header-text:hover h1 {
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.header-text:hover .header-line {
    width: 270px;
    color: orange;
}

.header-text:hover .dot-icon {
    color: orange;
    -webkit-text-stroke-color: white;
}

.product-page .details-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 1000px;
    cursor: pointer;
    margin: 30px auto;
    transition: 0.5s;
}

.right-border {
    border-right: 4px solid transparent;
}

.left-border {
    border-left: 4px solid transparent;
}

.product-page .details-section:hover {
    background-color: #131313;
    border-radius: 10px;
}

.right-border:hover {
    border-right: 4px solid orange;
}

.left-border:hover {
    border-left: 4px solid orange;
}

.details-section:hover .product-img img {
    opacity: 1;
}

.yellow-color {
    color: rgb(254, 241, 0, 0.8)
}

.product-img img {
    margin-right: 50px;
    background-color: rgb(254, 241, 0, 0.8);
    width: 250px;
    /* min-height: auto; */
    max-height: 140px;
    opacity: 0.6;
    border-radius: 8px;
    transition: 0.5s;
}

.product-list-section {
    padding: 20px 0;
    width: 1250px;
    opacity: 0.9;
    border-radius: 5px;
    /* border: 1px solid #eeeade; */
    box-shadow: #eeeade 0px 6px 24px 0px, #eeeade 0px 0px 0px 1px;
    background-color: black;
}

.product-list-section hr {
    color: #eeeade;
}

.details-section p {
    color: whitesmoke;
    width: 500px;
    font-size: 20px;
    transition: 0.3s;
}

.product-intro-text {
    color: white;
}

.chevron-icon:after {
    content: ' ';
    display: inline-block;
    border-bottom: 5px solid #f00;
    border-right: 5px solid #f00;
    height: 30px;
    width: 30px;
    transform: rotate(-45deg);
    transition: 0.5s;
}

.details-section:hover .chevron-icon:after {
    border-bottom: 5px solid rgb(254, 241, 0, 0.8);
    border-right: 5px solid rgb(254, 241, 0, 0.8);
}

.details-section:hover p {
    color: orange;
    font-size: 25px;
}

.company-products {
    margin-top: 150px;
}

.product-card {
    background: #131313;
    border-radius: 4px;
    display: inline-block;
    height: 300px;
    margin: 1rem 3rem;
    position: relative;
    width: 300px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: 0.5s;
    /* box-shadow: 0 10px 20px rgb(254, 241, 0, 0.8), 0 6px 6px orange; */
}

.product-card:hover {
    background: black;
    box-shadow: 0 0px 10px darkgray, 0 0px 17px whitesmoke;
}

.product-image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.selected-image {
    width: 450px;
    height: 100%;
    border-radius: 5px;
}

.details-image:hover img {
    opacity: 60%;
    border-radius: 10px;
    transition: 0.5s;
}

.modal-header {
    border-bottom: 2px solid orange !important;
}

.modal-content {
    color: orange !important;
    background-color: #131313 !important;
    border: 2px solid orange !important;
}

.btn-close {
    /* color: orange !important; */
    font-size: 30px;
    /* background-color: #131313; */
}

@media (max-width: 475px) {
    .product-page {
        overflow-x: hidden;
    }

    .product-intro-text h3 {
        font-size: 20px;
    }

    .header-line {
        width: 120px;
    }
    .product-list-section {
        width: unset !important;
    }

    .header-text:hover .header-line {
        width: 140px;
    }

    .product-page .details-section {
        padding: 10px;
        width: 350px;
    }

    .product-img img {
        margin-right: 50px;
        width: 100px;
        max-height: 120px;
        transition: 0.5s;
    }

    .chevron-icon {
        margin-right: 20px;
    }

    .chevron-icon:after {
        border-bottom: 3px solid #f00;
        border-right: 3px solid #f00;
        height: 15px;
        width: 15px;
    }

    .details-section:hover .chevron-icon:after {
        border-bottom: 3px solid rgb(254, 241, 0, 0.8);
        border-right: 3px solid rgb(254, 241, 0, 0.8);
    }

    .details-section p {
        width: 500px;
        font-size: 12px;
    }

    .details-section:hover p {
        font-size: 13px;
    }

    .company-products {
        margin-top: 90px;
    }

    .product-card {
        width: 270px;
        height: 270px;
    }

    .selected-image {
        width: 322px;
    }
}

.bullet-arrow {
    width: 30px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 10px;
}