<div class="process-page">
    <app-header></app-header>
    <div class="qms-section">
        <div class="d-flex justify-content-center">
            <div class="text-center my-5 header-text">
                <h1 class="heading-title-text">QMS</h1>
                <div class="d-flex align-items-center">
                    <span class="header-line"></span>
                    <span class="dot-icon">&#x2022;</span>
                    <span class="header-line"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="mb-5 process-intro-text">
                <h3 class="my-4">
                    <img src="../../assets/bullet-arrow.png" class="bullet-arrow" alt=""> Quality is paramount for
                    <span><b class="yellow-color">Nikoo Technocast</b></span>. The superior quality raw materials used
                    in the
                    manufacturing process include CRCA Scrap,
                    Copper, Iron Silicide (FeSi), Magnesium Silicon Ferro-Alloys (FeSiMg), etc.
                </h3>
                <h3 class="my-4">
                    <img src="../../assets/bullet-arrow.png" class="bullet-arrow" alt="">
                    All these sourced raw materials undergo stringent chemical and physical analysis to check their
                    productivity.
                </h3>
                <h3 class="my-4">
                    <img src="../../assets/bullet-arrow.png" class="bullet-arrow" alt="">
                    The chemical tests conducted during the manufacturing process are Optical Emission Spectrometer
                    (Bruker
                    USA make) 29 channels, Microstructure by Image Analyzer, wet lab analysis of ferrous alloys, and C,
                    Si,CE.
                </h3>
                <h3 class="my-4">
                    <img src="../../assets/bullet-arrow.png" class="bullet-arrow" alt="">
                    Control by Ferro Lab Thermal Analysis, AFS Sieve Analyzer, Compatibility & Permeability Meter etc. A
                    team of quality control professionals also performs physical testing with 250-3000 kgs. Brinell
                    hardness
                    tester, 200 kN tensile testing machine and other technology based equipments.
                </h3>
            </div>
        </div>
        <div class="container py-4">
            <div class="details-section">
                <div class="company-img">
                    <img src="../../assets/qms/qms1.jpg" alt="">
                </div>
                <h1>Measurement - Equipment<span>1</span></h1>
            </div>
            <div class="chevron-icon text-center"></div>
            <div class="details-section">
                <div class="company-img">
                    <img src="../../assets/qms/qms2.jpg" alt="">
                </div>
                <h1>Measurement - Equipment<span>2</span></h1>
            </div>
            <div class="chevron-icon text-center"></div>
            <div class="details-section">
                <div class="company-img">
                    <img src="../../assets/qms/qms3.jpg" alt="">
                </div>
                <h1>Measurement - Equipment<span>3</span></h1>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>