<div class="dashboard-section">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner bg-gray">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="../../assets/landingPage/img-1.jpg" class="d-block w-100 slider-image" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, optio
                        unde reprehenderit ea harum culpa temporibus ipsa cumque dolorem doloribus odio ducimus in
                        molestiae perferendis consequatur obcaecati atque ad. Cum.</h3>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../../assets/landingPage/img-3.png" class="d-block w-100 slider-image" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nam
                        cumque. Iusto vitae iure, non officiis, rem libero mollitia dolores dolor obcaecati provident
                        repellat adipisci incidunt. Voluptatibus tempore quibusdam amet.</h3>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="../../assets/landingPage/img-4.jpg" class="d-block w-100 slider-image" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit explicabo
                        necessitatibus, commodi sunt, tempora totam ullam rem accusamus molestias nisi consectetur
                        eveniet nesciunt adipisci delectus reiciendis inventore, vitae nihil. Mollitia!</h3>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev slider-actions" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next slider-actions" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- company profile section -->
    <section class="company-profile-section">
        <div class="d-flex justify-content-center">
            <div class="text-center my-5 header-text">
                <h1>COMPANY PROFILE</h1>
                <div class="d-flex align-items-center">
                    <span class="header-line"></span>
                    <span class="dot-icon">&#x2022;</span>
                    <span class="header-line"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="">
                <div class="details-section">
                    <div class="company-img">
                        <img src="../../assets/comapny-profile/img-1.jpg" alt="">
                    </div>
                    <p>
                        The company's automatic sand plant (Green Sand — simultaneous jolt & squeeze) production
                        capacity is
                        1400 MT./Annum with a weight range of 1 kg. to 250 kgs. single Piece. Our future plan includes
                        the
                        installation of high pressure moulding line in near feature. With our proficiency in this
                        domain, we
                        maintain highest quality standards and are successfully fulfilling specific requirements of our
                        valuable
                        clients.
                    </p>
                </div>
                <div class="details-section">
                    <div class="company-img">
                        <img src="../../assets/comapny-profile/img-2.jpg" alt="">
                    </div>
                    <p>
                        Our firm is equipped with all required equipments such as Induction Furnace (300 Kg. 2
                        Crucible),
                        Pneumatic moulding equipments, automated sand plant, heat treatment furnace, fettling
                        equipments,
                        shot
                        blasting equipments, wet analysis for chemical composition and physical testing laboratory for
                        tensile &
                        hardness testing, and Micro structural analysis with Modern Spectrometer (29 channel),
                        Microscope
                        with
                        Image Analyzer etc.
                    </p>
                </div>
                <div class="details-section">
                    <div class="company-img">
                        <img src="../../assets/comapny-profile/img-3.jpg" alt="">
                    </div>
                    <p>
                        We do have in-house VMC machine & One machine shop at our sister concern "Nikoo Forging Pvt.
                        Ltd."
                        and
                        others in near surrounding on tie-up basis.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- our-product section -->
    <section class="products-section">
        <div class="container">
            <div class="carousel-container">
                <div class="carousel-inner">
                    <div class="carousel-item"><img src="../../assets/products/product-1.jpg" alt="Image 1"></div>
                    <div class="carousel-item"><img src="../../assets/products/product-2.jpg" alt="Image 2"></div>
                    <div class="carousel-item"><img src="../../assets/products/product-3.jpg" alt="Image 3"></div>
                    <div class="carousel-item"><img src="../../assets/products/product-4.jpg" alt="Image 4"></div>
                    <div class="carousel-item"><img src="../../assets/products/product-5.jpg" alt="Image 5"></div>
                </div>
            </div>
        </div>
    </section>
</div>