.dashboard-section {
    height: 100%;
    width: 100%;
    background-color: black;
}

.slider-image {
    width: 100%;
    height: 860px;
}

.company-profile-section {
    margin: 250px 0;
}

.heading-title-text {
    color: whitesmoke;
}

.header-line {
    width: 250px;
    border-bottom: 0.2px solid gray;
    transition: 0.5s;
}

.dot-icon {
    font-size: 20px;
    margin: 0 20px;
    color: orange;
}

.header-text {
    cursor: pointer;
    transition: 0.5s;
}

h1 {
    transition: 0.5s;
}

.header-text:hover h1 {
    color: orange;
}

.header-text:hover .header-line {
    width: 270px;
}

.company-profile-section p {
    color: white;
    width: 500px;
    transition: 0.5s;
}

.company-profile-section .details-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 1000px;
    margin: 30px auto;
    border-right: 4px solid transparent;
    transition: 0.5s;
}

.company-profile-section .details-section:hover {
    border-right: 4px solid orange;
    background-color: #131313;
}

.details-section:hover .company-img img {
    opacity: 1;
}

.company-img img {
    margin-right: 50px;
    background-color: rgb(254, 241, 0, 0.8);
    width: 400px;
    height: auto;
    opacity: 0.6;
    transition: 0.5s;
}

/* product style */
/* animation: scroll 40s linear infinite; */
.product-image {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.certificate-section {
    margin: 250px 0;
}

.certificate-image {
    width: 350px;
    height: auto;
}

.pdf-download-section {
    /* margin: 250px 0; */
}

@media (max-width: 475px) {
    .dashboard-section {
        overflow-x: hidden;
    }

    .slider-image {
        width: auto;
        height: 350px;
    }

    .company-profile-section {
        margin: 50px 0;
    }

    .header-line {
        width: 120px;
    }

    .header-text:hover .header-line {
        width: 140px;
    }
    .company-img img {
        margin-right: 0px !important;
        width: 326px;
    }
    .company-profile-section p {
        margin-top: 20px;
        width: 330px;
    }
    .company-profile-section .details-section {
        display: block;
        border-right: none;
        width: 100%;
        border-top: 4px solid transparent;
    }
    .company-profile-section .details-section:hover {
        border-top: 4px solid orange;
        border-right: none;
    }
    .product-image {
        margin: 15px 0;
    }
    .certificate-section {
        margin: 50px 0;
    }
    .certificate-image {
        width: 300px;
        margin: 15px 0;
    }
}