// src/assets/styles/_variables.scss

$primary-color: #e65e14;
$secondary-color: #ff8c00;
$dark-bg: #121212;
$light-text: #ffffff;
$dark-text: #000000;
$gray-text: #a0a0a0;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
