<div class="process-page">
    <app-header></app-header>
    <div class=" infrastructure-section">
        <div class="d-flex justify-content-center">
            <div class="text-center my-5 header-text">
                <h1 class="heading-title-text">INFRASTRUCTURE</h1>
                <div class="d-flex align-items-center">
                    <span class="header-line"></span>
                    <span class="dot-icon">&#x2022;</span>
                    <span class="header-line"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="mb-5 process-intro-text">
                <h3 class="my-4">
                    <img src="../../assets/bullet-arrow.png" class="bullet-arrow" alt=""> The manufacturing plant of
                    Nikoo
                    Technocast has highly sophisticated machinery and quality
                    control
                    equipment
                    with the capacity of developing new casting in bulk mode.
                </h3>
                <h3 class="my-4">
                    <img src="../../assets/bullet-arrow.png" class="bullet-arrow" alt="">
                    We have Green Sand Simultaneous jolt & squeeze molding line capable of producing up to 250
                    kgs. of
                    castings with mold size of 19” X 20”, 23”x27” &
                    24”x34”.
                </h3>
                <h3 class="my-4">
                    <img src="../../assets/bullet-arrow.png" class="bullet-arrow" alt="">
                    Our latest technology machines include Optical Emission Spectrometer (Bruker USA make) 29 channels,
                    Microstructure by Image Analyzer, wet lab analysis of ferrous alloys, and C, Si,CE.
                    Control by Ferro Lab
                    Thermal Analysis, AFS Sieve Analyzer, Compatibility & Permeability Meter etc.
                </h3>
                <h3 class="my-4">
                    <img src="../../assets/bullet-arrow.png" class="bullet-arrow" alt="">
                    A team of quality control
                    professionals also performs physical testing with 250-3000 kgs. Brinell hardness tester, 200 kN
                    tensile
                    testing machine, and other technology based equipments.
                </h3>
                <h3 class="my-4">
                    <img src="../../assets/bullet-arrow.png" class="bullet-arrow" alt="">
                    All these machines and equipments are handled by the most dedicated team of engineers, technocrats
                    and
                    mechanics who possess years of relevant experience in the industry.
                </h3>
            </div>
        </div>
        <div class="container py-4">
            <div class="details-section">
                <div class="company-img">
                    <img src="../../assets/infrastructure/infra1.jpg" alt="">
                </div>
                <h1>Infrastructure <span>1</span></h1>
            </div>
            <div class="chevron-icon text-center"></div>
            <div class="details-section">
                <div class="company-img">
                    <img src="../../assets/infrastructure/infra2.jpg" alt="">
                </div>
                <h1>Infrastructure <span>2</span></h1>
            </div>
            <div class="chevron-icon text-center"></div>
            <div class="details-section">
                <div class="company-img">
                    <img src="../../assets/infrastructure/infra3.jpg" alt="">
                </div>
                <h1>Infrastructure <span>3</span></h1>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>